<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Girl</key>
	<array>
		<string>a</string>
		<string>aa</string>
		<string>aaa</string>
	</array>
	<key>Boy</key>
	<array>
		<string>b</string>
		<string>bb</string>
		<string>bbb</string>
	</array>
</dict>
</plist>
